<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
<div>
<nav>

<a href="/viewall">View all</a>
<a  href="/add">Add</a>
<a  href="/delete">Delete</a>
<a  href="/update">Update</a>
<a href="/">Logout</a>
</nav>
</div>
</body>
</html>