<%include partials/home.ejs %>
<form  method="POST" action='/update'>
<label>
    <span>ID</span>
    <input
      type="text"
      name="id"
      placeholder="ID">
  </label>
  <label>
    <span>Full name</span>
    <input
      type="text"
      name="name"
      placeholder="Your full name">
  </label>
   <label>
    <span>age</span>
    <input
      type="text"
      name="age"
      placeholder="age">
  </label>
  
   
  <button type="submit"  >update employee</button>

</form>